<main>
    <body>
      <div class="body">
      <section class="section1">
        <div class="part1">
          <div class="text">
            <h1>Good day {{dashboard.supplierName}}!</h1>
            <p>Glad to have you back, here's an overview for you</p>
          </div>
          <div class="image">
            <img src="/assets/images/Features Overview-pana 1.png" alt="" width="20%">
          </div>
        </div>
        <div class="part22">
          <ngb-datepicker class="part2" #dp [(ngModel)]="model" ></ngb-datepicker>
        </div>
      </section>

      <section class="section2">
        <div class="completed">
          <div class="ico">
            <p>Total Assets</p>
            <p>Under Management</p>
          </div>
          <div class="row2">
            {{dashboard.totalAssetUnderManagement}}
          </div>
        </div>
        <div class="schedule">
          <div class="ico">
            <p>Distinct Types</p>
          </div>
          <div class="row2">
            {{dashboard.distinctTypes}}
          </div>
        </div>
        <div class="resources">
          <div class="ico">
            <p>Assets Awaiting</p>
            <p>Inspection / Review</p>
          </div>
          <div class="row2">
            0
          </div>
        </div>

      </section>

    </div>
    </body>
  </main>



