<main>
    <body>
      <div class="body">
      <section class="section1">
        <div class="part1">
          <div class="text">
            <h1>Good day {{supplierName}} !</h1>
            <p>Glad to have you back, here's an overview for you</p>
          </div>
          <div class="image">
            <img src="/assets/images/Features Overview-pana 1.png" alt="" width="20%">
          </div>
        </div>
        <div class="part22">
          <ngb-datepicker class="part2" #dp [(ngModel)]="model" ></ngb-datepicker>
        </div>
      </section>
      
      <section class="section3">
        <div class="summ">
          <div class="image">
            <img src="/assets/images/Car Driving.png" alt="" width="20%">
          </div>
          <div class="text">
            <h1>Total Number of Assets Under Management</h1>
            <p>4</p>
          </div>
        </div>
        <div class="summ">
          <div class="image" id="resize">
            <img  src="/assets/images/Bus Stop-amico 3.png" alt="" >
          </div>
          <div class="text">
            <h1>Assets Awaiting Review</h1>
            <p>4</p>
          </div>
        </div>
      </section>

      <section class="section2">
        <div class="completed">
          <div class="ico">
            <mat-icon>more_vert</mat-icon>
          </div>
          <div class="row2">
            <p>Total Assets <br> Due for <br>Re-Accreditation</p>
            <img src="/assets/images/checkmark-circle.png" alt="" width="30%">
          </div>
          <div class="row3">
            | 75
          </div>
        </div>
        <div class="schedule">
          <div class="ico">
            <mat-icon>more_vert</mat-icon>
          </div>
          <div class="row2">
            <p>New Asset Added <br> In Current Month</p>
            <img src="/assets/images/calendar.png" alt="" width="100%">
          </div>
          <div class="row3">
            | 4
          </div>
        </div>
        <div class="resources">
          <div class="ico">
            <mat-icon>more_vert</mat-icon>
          </div>
          <div class="row2">
            <p>Distinct Asset<br> Types</p>
            <img src="/assets/images/Resources.png" alt="" width="100%">
          </div>
          <div class="row3">
            | 4
          </div>
        </div>
        <div class="mostTraveled">
          <div class="ico">
            <mat-icon>more_vert</mat-icon>
          </div>
          <div class="row2">
            <p>Preffered <br>Service Center</p>
            <img src="/assets/images/Untitled-1v 1.png" alt="" >
          </div>
          <div class="row3">
            | 0
          </div>
        </div>

      </section>

      <!-- <section class="section2">
        <div class="completed">
          <div class="ico">
            <p>Total Assets</p>
            <p>Under Management</p>
          </div>
          <div class="row2">
            {{dashboard.totalAssetUnderManagement}}
          </div>
        </div>
        <div class="schedule">
          <div class="ico">
            <p>Distinct Types</p>
          </div>
          <div class="row2">
            {{dashboard.distinctTypes}}
          </div>
        </div>
        <div class="resources">
          <div class="ico">
            <p>Assets Awaiting</p>
            <p>Inspection / Review</p>
          </div>
          <div class="row2">
            {{dashboard.assetAwaitingInspection}}
          </div>
        </div>

      </section> -->

    </div>
    </body>
  </main>



