<main>

    <body>
        <div class="summary">
            <div class="line1">
                <div class="management" (click)="assetManaged()">
                    <div class="image">
                        <img src="/assets/images/Features Overview-pana 1.png" alt="">
                    </div>
                    <b>Assets Under Management</b>
                    <p>View your assets under management</p>
                </div>
                <div class="management" (click)="addNewAsset()">
                    <div class="image">
                        <img src="/assets/images/Features Overview-pana 1.png" alt="">
                    </div>
                    <b>Add New Assets</b>
                    <p>Add new assets under management</p>
                </div>
            </div>
            <div class="line2">
                <div class="management" (click)="assetReview()">
                    <div class="image">
                        <img src="/assets/images/Features Overview-pana 1.png" alt="">
                    </div>
                    <b>Assets Under Review</b>
                    <p>View assets awaiting review</p>
                </div>
                <div class="management" (click)="serviceCenter()">
                    <div class="image">
                        <img src="/assets/images/Features Overview-pana 1.png" alt="">
                    </div>
                    <b>Service Centers</b>
                    <p>View service areas nearest to you</p>
                </div>
            </div>
        </div>
    </body>
</main>