<main>
    <body>
        <div class="top">
            <div class="side1">
                <div class="title">
                    <mat-icon>chevron_left</mat-icon>
                    <b>Assets Under Review</b>
                </div>
                <p>Assets that have been submitted for reviewed</p>
            </div>
            <div class="side2">
                <button (click)="goToAddAsset()" class="btn btn-primary addAsset">Add asset</button>
                <select name="" id="" class="form-select">
                    <option value="">Sort</option>
                </select>
                <input class="form-control" type="text" name="" [(ngModel)] = "filteredProperty" id="" placeholder="&#61442; Search">
                <!-- <input class="form-control" type="text" name="searchTerm" [(ngModel)] = "searchTerm" id="" placeholder="Search"> -->
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="status">
                    <p >Under review</p>
                    <mat-icon >more_horiz</mat-icon>
                </div>
                <div class="assets">
                  <div *ngFor="let mg of managedAssets.pendingReview | searchfilter: filteredProperty: 'serviceName'" class="asset">
                    <!-- <div *ngFor="let mg of managedAssets.pendingReview | filter:searchTerm| sort:direction:type" class="asset"> -->
                    <div class="lin1">
                            <section>
                                <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                <p> {{mg.dateAdded}} </p>
                            </section>
                            <mat-icon>more_horiz</mat-icon>
                        </div>
                        <div class="lin2">
                            <h2>{{mg.serviceName}}</h2>
                            <p>Pending</p>
                        </div>
                        <div class="lin3">
                            <p>Plate Number: #{{mg.plateNumber}}</p>
                        </div>
                        <div class="lin4">
                            <img src={{mg.imageUrl}} alt="">
                        </div>
                        <div class="lin5">
                           <section><p>Progress</p> <p>{{mg.percentageCompleted}}%</p></section>
                           <p><ngb-progressbar type="warning" [value]="2" [striped]="true" [animated]="true"><i>{{mg.percentageCompleted}}%</i></ngb-progressbar></p>
                        </div>
                        <hr>
                    </div>
                  </div>
            </div>
            <div style="position: relative">
              <ngx-ui-loader [fgsType]="SPINNER.threeStrings"></ngx-ui-loader>
            </div>
        </div>
    </body>
</main>
