<main>
    <body>
        <div class="top">
            <div class="side1">
                <div class="title">
                    <mat-icon>chevron_left</mat-icon>
                    <b>Assets Under Review</b>
                </div>
                <p>Assets that have been submitted for reviewed</p>
            </div>
            <div class="side2">
                <button class="btn btn-primary addAsset">Add asset</button>
                <select name="" id="" class="form-select">
                    <option value="">Sort</option>
                </select>
                <input class="form-control" type="text" name="" id="" placeholder="Search">
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="status">
                    <p >Completeted</p>
                    <mat-icon >more_horiz</mat-icon>
                </div>
                <div class="assets">
                    <div class="asset">
                        <div class="lin1">
                            <section>
                                <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                <p> August 25, 2022 </p>
                            </section>
                            <mat-icon>more_horiz</mat-icon>
                        </div>
                        <div class="lin2">
                            <h2>Toyota Hilux</h2>
                            <p>Pending</p>
                        </div>
                        <div class="lin3">
                            <p>Plate Number: #DF4567GH</p>
                        </div>
                        <div class="lin4">
                            <img src="/assets/images/pexels-photo-112460.jpeg" alt="">
                        </div>
                        <div class="lin5">
                           <section><p>Progress</p> <p>100%</p></section>  
                           <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>
                        </div>
                        <hr>
                    </div>
                    <div class="asset">
                        <div class="lin1">
                            <section>
                                <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                <p> August 25, 2022 </p>
                            </section>
                            <mat-icon>more_horiz</mat-icon>
                        </div>
                        <div class="lin2">
                            <h2>Toyota Hilux</h2>
                            <p>Pending</p>
                        </div>
                        <div class="lin3">
                            <p>Plate Number: #DF4567GH</p>
                        </div>
                        <div class="lin4">
                            <img src="/assets/images/pexels-photo-112460.jpeg" alt="">
                        </div>
                        <div class="lin5">
                           <section><p>Progress</p> <p>100%</p></section>  
                           <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>
                        </div>
                        <hr>
                    </div>
                    <div class="asset">
                        <div class="lin1">
                            <section>
                                <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                <p> August 25, 2022 </p>
                            </section>
                            <mat-icon>more_horiz</mat-icon>
                        </div>
                        <div class="lin2">
                            <h2>Toyota Hilux</h2>
                            <p>Pending</p>
                        </div>
                        <div class="lin3">
                            <p>Plate Number: #DF4567GH</p>
                        </div>
                        <div class="lin4">
                            <img src="/assets/images/pexels-photo-112460.jpeg" alt="">
                        </div>
                        <div class="lin5">
                           <section><p>Progress</p> <p>100%</p></section>  
                           <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>
                        </div>
                        <hr>
                    </div>
                    <div class="asset">
                        <div class="lin1">
                            <section>
                                <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                <p> August 25, 2022 </p>
                            </section>
                            <mat-icon>more_horiz</mat-icon>
                        </div>
                        <div class="lin2">
                            <h2>Toyota Hilux</h2>
                            <p>Pending</p>
                        </div>
                        <div class="lin3">
                            <p>Plate Number: #DF4567GH</p>
                        </div>
                        <div class="lin4">
                            <img src="/assets/images/pexels-photo-112460.jpeg" alt="">
                        </div>
                        <div class="lin5">
                           <section><p>Progress</p> <p>100%</p></section>  
                           <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
           
        </div>
    </body>
</main>