<main>

    <body>
        <div class="top">
            <div class="side1">
                <div class="title">
                    <mat-icon>chevron_left</mat-icon>
                    <b>Service centers nearest to you</b>
                </div>
                <p>View service centers nearest to you</p>
            </div>
            
        </div>
        <div class="bottom">
            <div class="side1">
                <div class="state">
                    <label for="st">State</label>
                    <select name="" id="st" class="form-select">
                        <option></option>
                        <option value="">ikeja lagos</option>
                    </select>
                </div>
                <div class="centers">
                    <div class="center">
                        <div class="img"> <img src="/assets/images/Fuel station-pana 1.png" alt="" width="100%"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div><hr>

                </div>
                <div class="centers">
                    <div class="center">
                        <div class="img"> <img src="/assets/images/Fuel station-pana 1.png" alt="" width="100%"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div><hr>

                </div>
                <div class="centers">
                    <div class="center">
                        <div class="img"> <img src="/assets/images/Fuel station-pana 1.png" alt="" width="100%"></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div><hr>

                </div>
            </div>
            <div class="side2">
                <img src="/assets/images/Fuel station-pana 1.png" alt="" width="100%">
            </div>

        </div>
    </body>
</main>