<main>

  <body>
    <div [hidden]="successfullyRenewed">
      <ng-template [ngIf]="loaded == 'first'">
          <ng-template  [ngIf]="allEmpty">
              <div class="noasset">
                  <img src="/assets/images/Image (1).png" alt="" width="100%">
                  <h2>No asset added</h2>
                  <p>You have not added any asset under management</p>
                  <button class="btn btn-primary" (click)="addNewAsset()">Add a new asset</button>
              </div>

          </ng-template>

      <ng-template [ngIf]="!allEmpty" >
          <div class="top">
              <div class="side1">
                  <div class="title">
                      <mat-icon>chevron_left</mat-icon>
                      <b>Assets Under Management</b>
                  </div>
                  <p>Assets that have been submitted and reviewed</p>
              </div>
              <div class="side2">
                  <button (click)="goToAddAsset()" class="btn btn-primary addAsset">Add asset</button>
                  <select name="" id="" class="form-select">
                      <option value="">Sort</option>
                  </select>
                  <input class="form-control" type="text" name="search" [(ngModel)]="filteredProperty"
                      autocomplete="off" id="" placeholder="Search">
              </div>
          </div>

              <div class="bottom">
                  <div class="left">
                      <div class="status">
                          <p>Completeted</p>
                          <mat-icon>more_horiz</mat-icon>
                      </div>
                      <div>
                          <div class="assets">
                              <div [hidden]="completedReviewEmpty"
                                  *ngFor="let mg of managedAssets.completedReview | searchfilter: filteredProperty: 'plateNumber'"
                                  class="asset">
                                  <div class="lin1">
                                      <section>
                                          <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                          <p> {{mg.dateAdded}} </p>
                                      </section>
                                      <mat-icon>more_horiz</mat-icon>
                                  </div>
                                  <div class="lin2">
                                      <h2>{{mg.serviceName}}</h2>
                                      <p>Completed</p>
                                  </div>
                                  <div class="lin3">
                                      <p>Plate Number: #{{mg.plateNumber}}</p>
                                  </div>
                                  <div class="lin4">
                                      <img src={{mg.imageUrl}} alt="">
                                  </div>
                                  <div class="lin5">
                                      <h2>Status</h2>
                                      <section [hidden]="mg.shouldRenew == false && mg.expired == false ? false : true">
                                          <p class="active">Active</p> <span class="renew"></span>
                                      </section>
                                      <section [hidden]="mg.shouldRenew == true && mg.expired == false ? false : true">
                                        <p class="active">Active</p> <span class="renew" (click)="review(mg.id)">Renew</span>
                                    </section>
                                    <section [hidden]="mg.shouldRenew == true && mg.expired == true ? false : true">
                                      <p id="expired">Expired</p> <span class="renew" (click)="review(mg.id)">Renew</span>
                                  </section>
                                      <!-- <p><ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"><i>100%</i></ngb-progressbar></p> -->
                                      <p>Expires on <span class="color">{{mg.expiryDate}}</span></p>
                                  </div>

                                  <hr>
                              </div>

                          </div>
                          <div>
                              <div [hidden]="!completedReviewEmpty" class="noasset">
                                  <img src="/assets/images/Image (1).png" alt="" width="100%">
                                  <h2>No asset completed</h2>
                                  <p>You have no completed reviewed any asset under management</p>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="right">
                      <div class="status">
                          <p>In Progress</p>
                          <mat-icon>more_horiz</mat-icon>
                      </div>
                      <div class="assets">
                          <div *ngFor="let mg of managedAssets.pendingReview | searchfilter: filteredProperty: 'plateNumber'"
                              class="asset">
                              <div class="lin1">
                                  <section>
                                      <mat-icon style="font-size:20px ;">calendar_today</mat-icon>
                                      <p class="daysleft">{{mg.dateAdded}} </p>
                                  </section>
                                  <mat-icon>more_horiz</mat-icon>
                              </div>
                              <div class="lin2">
                                  <h2>{{mg.serviceName}}</h2>
                                  <p id="daysleft">{{mg.daysLeft}} days left</p>
                              </div>
                              <div class="lin3">
                                  <p>Plate Number: #{{mg.plateNumber}}</p>
                              </div>
                              <div class="lin4">
                                  <img src={{mg.imageUrl}} alt="">
                              </div>
                              <div class="lin5">
                                  <section>
                                      <p>Progress</p>
                                      <p>{{mg.percentageCompleted}}%</p>
                                  </section>
                                  <p>
                                      <ngb-progressbar type="warning" [value]=2 [striped]="true" [animated]="true">
                                          <i>{{mg.percentageCompleted}}%</i>
                                      </ngb-progressbar>
                                  </p>
                              </div>
                              <hr>
                          </div>
                          <div>
                              <div [hidden]="!pendingReviewEmpty" class="noasset">
                                  <img src="/assets/images/Image (1).png" alt="" width="100%">
                                  <h2>No asset pending</h2>
                                  <p>You have no pending reviewed any asset under management</p>
                              </div>
                          </div>
                      </div>
                  </div>
          </div>
          <div style="position: relative">
              <ngx-ui-loader [fgsType]="SPINNER.threeStrings"></ngx-ui-loader>
          </div>

      </ng-template>

      </ng-template>



      <ng-template [ngIf]="loaded == 'second'">
          <div class="top">
              <div class="side1">
                  <div class="title">
                      <mat-icon (click)="backArrow()" class="backArrow">chevron_left</mat-icon>
                      <b>Assets Review and Renewal</b>
                  </div>
                  <p>Review your asset information and renew subscription</p>
              </div>
          </div>
          <div class="assetDetail">
            <div class="steps-form ">
                <div class="steps-row setup-panel">
                    <div class="steps-step">
                        <a pageScroll (click)="assetForm()" type="button" class="btn btn-indigo btn-circle">1</a>
                        <p>Asset information</p>
                    </div>
                    <div class="steps-step">
                        <a (click)="visualsForm()" type="button" class="btn btn-default btn-circle">2</a>
                        <p>Visuals</p>
                    </div>
                    <div class="steps-step">
                        <a (click)="scheduleForm()" type="button" class="btn btn-default btn-circle">3</a>
                        <p>Schedule Inspection</p>
                    </div>
                    <div class="steps-step">
                        <a pageScroll (click)="paymentPage(content)" type="button" class="btn btn-default btn-circle">4</a>
                        <p>Payment</p>
                    </div>
                </div>

            </div>

            <div class="sec2">
                <ng-template [ngIf]="page == 'asset'">
                    <form class="col-8">
                        <div class="form-container-align-items">
                            <div class="col-12 right-padding">
                                <label for="maker" class="form-label">Make of Car</label>
                                <input readonly value="{{make}}" type="text" class="form-control" id="modelnumber">
                            </div>
                            <div class="col-12 left-padding">
                                <label for="model" class="form-label">Model of Car</label>
                                <input readonly value="{{model}}" type="text" class="form-control" id="modelnumber">
                            </div>
                            <div class="col-12 right-padding">
                                <label for="modelnumber" class="form-label">Model Number</label>
                                <input readonly value="{{modelNumber}}" type="text" class="form-control" id="modelnumber">
                            </div>
                            <div class="col-12 right-padding">
                                <label for="year" class="form-label">Year of Make</label>
                                <input readonly value="{{year}}" type="text" class="form-control"
                                    id="identificationnumber">
                            </div>
                            <div class="col-12 left-padding">
                                <label for="type" class="form-label">Type</label>
                                <input readonly value="{{type}}" type="text" class="form-control"
                                    id="identificationnumber">
                            </div>
                            <div class="col-12 right-padding">
                                <label for="platenumber" class="form-label">Plate Number</label>
                                <input readonly value="{{identificationNumber}}" type="text" class="form-control" id="platenumber">
                            </div>
                            <div class="col-12 left-padding">
                                <label for="chasis" class="form-label">Chasis Number</label>
                                <input readonly value="{{serialNumber}}" type="text" class="form-control" id="chasis">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary col-6 deepBlue"
                            (click)="visualsForm()">Next</button>
                    </form>
                </ng-template>
                <ng-template [ngIf]="page == 'visuals'">
                    <form class="col-8">
                        <div class="form-container-align-items">
                            <div class="assetView right-padding">
                                <p>Picture (Front)</p>
                                <img [src]="frontViewImage" title="Vehicle Picture">


                            </div>
                            <div class="assetView left-padding">
                                <p>Picture (Back)</p>
                                <img [src]="rearViewImage" title="Vehicle Picture">

                            </div>
                            <div class="assetView right-padding">
                                <p>Picture (Left Side)</p>
                                <img [src]="leftViewImage" title="Vehicle Picture">

                            </div>
                            <div class="assetView left-padding">
                                <p>Picture (Right Side)</p>
                                <img [src]="rightViewImage" title="Vehicle Picture">
                            </div>
                            <div class="assetView right-padding">
                                <p>Picture (Interior)</p>
                                <img [src]="interiorViewImage" title="Vehicle Picture">
                            </div>
                            <div class="assetView left-padding">
                                <p>Picture (Top)</p>
                                <img [src]="topViewImage" title="Vehicle Picture">
                            </div>
                        </div>
                        <button class="next btn btn-primary deepBlue"
                            (click)="scheduleForm()">Next</button>
                        <button class="next btn btn-default" (click)="assetForm()">Back</button>

                    </form>
                </ng-template>

                <ng-template [ngIf]="page == 'schedule'">
                    <form class="col-8" #schedule="ngForm">
                        <div class="col-6">
                            <label for="state" class="form-label">State</label>
                            <input readonly type="text" value="{{serviceCenterState}}"  class="form-control" id="date">
                        </div>

                        <div class="col-6">
                            <label for="center" class="form-label">Service Center</label>
                            <input readonly type="text" value="{{serviceCenterLocation}}" class="form-control" id="date">
                        </div>

                        <div class="col-6" id="datetime">
                            <label for="inputEmail3" class="col-2 col-form-label">Price &#8358; </label>
                            <div class="col-10">
                                <input readonly value="{{renewalAmount}}" readonly id="price" type="text" class="form-control">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary col-6 deepBlue"
                             (click)="paymentPage(content)">Renew</button>
                        <button type="button" class="btn btn-default col-6" (click)="visualsForm()">Back</button>
                    </form>
                    <!-- <div style="position: relative">
                      <ngx-ui-loader [fgsType]="SPINNER.threeStrings"></ngx-ui-loader>
                    </div> -->
                </ng-template>

                <div>
                  <ng-template #content let-c="close" let-d="dismiss">
                    <div class="closebtn">
                        <button (click)="d('Cross click')">&#x2715;</button>
                    </div>
                    <div class="modal-body">
                        <h1>How would you like to top-up</h1>
                        <div class="paymentOptionGroup">
                            <div class="paymentOption">
                                <div class="paymentGateway">
                                    <input type="radio" id="flutterwave" ngModel name="payment" id="flutterwave"
                                        value="flutterwave" [(ngModel)]="payment.gateway">
                                    <label for="flutter"><img src="/assets/images/Flutterwave-logo 2.png"
                                            alt="">Flutterwave</label>
                                </div>
                                <div class="paymentGateway">
                                    <input type="radio" id="paystack" ngModel name="payment" id="paystack"
                                        value="paystack" [(ngModel)]="payment.gateway">
                                    <label for="flutter"><img src="/assets/images/Paystack-mark-white-twitter 2.png" alt="">
                                        Paystack</label>
                                </div>
                                <div class="paymentGateway">
                                    <input type="radio" ngModel name="payment" id="remita" value="remita"
                                        [(ngModel)]="payment.gateway">
                                    <label for="flutter"><img src="/assets/images/unnamed 2.png" alt="">Remita</label>
                                </div>
                                <div class="paymentGateway">
                                    <input type="radio" ngModel name="payment" id="inter" value="inter"
                                        [(ngModel)]="payment.gateway">
                                    <label for="flutter"><img src="/assets/images/cropped-favicon 2.png" alt="">Interswitch
                                        webpay</label>
                                </div>
                            </div>
                            <img src="/assets/images/Wallet-rafiki 2 (1).png" alt="" width="100%">
                        </div>

                        <div class="amount">
                            <p>Amount(&#8358;)</p>
                            <div class="enterAmount">
                                <span style="color: red;">{{paymentMessage}}</span>
                                <input type="text" placeholder="min 100" ngModel name="long" #long="ngModel"
                                    [(ngModel)]="bookingPrice" disabled="true">
                                <button
                                    [hidden]="(payment.gateway == 'flutterwave' || payment.gateway == 'remita' || payment.gateway == 'inter' || payment.gateway == '')"
                                    angular4-paystack [email]="'mailexample@mail.com'" [amount]="bookingPrice * 100"
                                    [ref]="reference" [key]="key" [class]="'btn btn-primary'"
                                    (paymentInit)="paymentInit()" (onClose)="paymentCancel()"
                                    (callback)="paymentDone($event)">Pay with
                                    Paystack</button>
                                <button (click)="makePayment()"
                                    [hidden]="(payment.gateway == 'remita' || payment.gateway == 'inter' || payment.gateway == 'paystack' || payment.gateway == '')">Pay
                                    with Flutter</button>
                                <button (click)="paymentInit()"
                                    [hidden]="(payment.gateway == 'flutterwave' || payment.gateway == 'inter' || payment.gateway == 'paystack' || payment.gateway == '')">Pay
                                    with Remita</button>
                                <button (click)="paymentInit()"
                                    [hidden]="(payment.gateway == 'remita' || payment.gateway == 'flutterwave' || payment.gateway == 'paystack' || payment.gateway == '')">Pay
                                    with Interswitch</button>
                            </div>
                        </div>

                        <hr>
                        <div class="notes">
                            <b>Please note</b>
                            <ol>
                                <li>Minimum top-up amount is NGN 100.00 - you can top-up at least NGN 100.00 in one
                                    transaction.
                                </li>
                                <li>Maximum per transaction is NGN 9,999,999.00 - you can deposit up to NGN 9,999,999.00
                                    in
                                    one
                                    transaction.</li>
                                <li>Top-up is free, there are no transaction fees.</li>
                            </ol>
                        </div>
                    </div>

                </ng-template>

                </div>
                <div style="position: relative">
                  <ngx-ui-loader [fgsType]="SPINNER.threeStrings"></ngx-ui-loader>
                </div>
            </div>
        </div>              <div style="position: relative">
                <ngx-ui-loader [fgsType]="SPINNER.threeStrings"></ngx-ui-loader>
            </div>
      </ng-template>
    </div>
      <div class="success" [hidden]="!successfullyRenewed">
        <img src="/assets/images/Schedule booking.png" alt="" width="100%">
        <h2>Congratulations !</h2>
        <p>Your asset has been scheduled for inspection</p>
        <button class="btn btn-primary" (click)="home()">Home</button>
    </div>
  </body>
</main>
