main{
    /* background-color: aquamarine; */
    position: relative;
    height: 90vh;
    margin-left: 5rem;
    overflow: scroll;
}

body{
    width:100%;
    height:100%;
    z-index: 0;
    position: relative;
    transition: all .5s ease;
    /* background: #fff; */
    /* background-color: #7a8ac9; */
    padding: 1.5rem;
    /* color: #fff; */
}
.noasset{
    display: flex;
    color: #2D3748;
    flex-direction: column;
    align-items: center;
}
.noasset img{
    width: 50%;
}
.noasset button{
    background: #11437A;
border-radius: 10px;
padding: 5px 40px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backArrow{
    cursor: pointer;
}
.side1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title{
    display: flex;
    /* align-items: center; */
    color: #11437A;
    font-weight: 600;
font-size: 30px;
letter-spacing: -0.02em;
}
.title mat-icon{
    font-size: 50px;
    margin-right: 20px;
}
.side1 p{
    color:  #2D3748;
    margin-right: 10px;
}
.side2{
    display: flex;
}
.side2 > *{
    margin: 5px;
}
.addAsset{
    border-radius: 10px;
white-space: no-wrap;
white-space: nowrap;
background: #11437A;;
}

.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.left{
    flex-basis: 70%;
    background: #F7F8FC;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    /* margin-right: 10px; */
}

.bottom .left .status{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.bottom .left .status p{
    font-weight: 700;
font-size: 20px;
color: #249408;
margin: 0;

}

.assets{
    /* border: 2px solid; */
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 20px;
}
.asset{
    background: #FFFFFF;
border-radius: 10px;
padding: 10px;
}
.asset .lin1{
    display: flex;
    justify-content: space-between;
}
.asset .lin1 section{
    display: flex;
    color: rgba(45, 55, 72, 0.55);
}
.asset .lin1 section p{
    font-size: 16px;
}
.asset .lin1 mat-icon{
    /* color: #373737; */
    color: rgba(45, 55, 72, 0.55);

}
.asset .lin2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.asset .lin2 h2{
    font-weight: 700;
font-size: 20px;
}
.asset .lin2 p{
    background: #11437A;
border-radius: 10px;
color: #fff;
padding:3px 10px;
font-weight: 600;
}
.asset .lin3 p{
    font-weight: 400;
    /* font-size: 12px; */
    color: #2D3748;
}

.asset .lin4{
    text-align: center;
    padding: 10px;
}
.asset .lin4 img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
.asset .lin5 h2, .asset .lin5 p{
    color: rgba(45, 55, 72, 0.55);
    margin: 0px;
}
.asset .lin5 section{
display: flex;
justify-content: space-between;
/* color: rgba(45, 55, 72, 0.55); */
font-weight: 500;
}
.active{
    text-align: center;
    /* width: 104px;
height: 26px; */
color: #40684B;
padding: 5px 40px;
background: #93E3A9;
border-radius: 10px;
}
.renew{
    color: #11437A;;
    cursor: pointer;
}
.color{
    color: #11437A;;
}

.bottom .right .status{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bottom .right .status p{
font-weight: 700;
font-size: 20px;
letter-spacing: -0.02em;
color: #FF9900;
}
.right{
    flex-basis: 28%;
    background: #F7F8FC;
    border-radius: 10px;
    color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.bottom .right .status{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
#daysleft{
    background: #fff;
    color: #FF584D;
}


/* /////////////////////////// */

/* .success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .success img{
    width: 40%;
  }
  .success h2{
    font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.02em;
  color: #2D3748;
  }
  .success button{
    background: #11437A;
  border-radius: 10px;
  padding: 5px 100px;
  } */
  .deepBlue{
    background: #11437A;
  }
  
  .steps-form {
    padding-right: 60px;
    display: table;
    width: 70%;
    position: relative; }
  .steps-form .steps-row {
    display: table-row; }
  .steps-form .steps-row:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background: #11437A;
    }
  .steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
  .steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
  .steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
  .steps-form .steps-row .steps-step .btn-circle {
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
    border: 5px solid #fff;
    margin-top: 0 ; }
  
    .notValidForm{
      background: #C4C4C4;
    }
    .validForm{
      background: #11437A;
    }
  
  .assetDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      padding: 20px;
  }
  .assetDetail > *{
    margin: 10px 0;
  }
  
  form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      /* padding-left: 20px; */
      
    }
    form > *{
      margin: 10px 0;
    }
    .sec2{
      width: 100%;
      display: flex;
      justify-content:center;
      /* padding-right: 10%; */
  
    }
    #datetime{
      display: flex;
      justify-content: space-between;
    }
    #file{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      cursor: pointer;
      border: 0.5px solid #1C2B66;
  border-radius: 10px;
    }
  
    .assetView img{
      width: 320px;
  height: 165px;
  border-radius: 10px;
  margin-bottom: 10px;
    }
    .assetView p{
      font-weight: 600;
  font-size: 15px;
  color: #2D3748;
    }
    .next{
      /* color: #fff; */
      width: 321px;
  height: 45px;
  /* background: #C4C4C4; */
  border-radius: 10px;
  /* border: 0; */
    }
  
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
      border: 1px solid red;
    }
  
  
    .paymentOptionGroup{
      display: flex;
      align-items: center;
      /* border: 2px solid; */
      padding: 0 10px;
      justify-content: space-between;
  }
  .paymentOptionGroup img{
      width: 50%;
  }
  .paymentOption{
  
  }
  .paymentGateway{
      margin:10px;
  }
  .paymentGateway label{
      margin-left: 10px;
      font-weight: 600;
  font-size: 15px;
  }
  .paymentGateway input{
      opacity: 0.5;
  
  }
  .paymentGateway img{
      width: 25px;
      margin-right: 5px;
  }
  .amount{
      display: flex;
      justify-content: center;
  }
  .amount p{
      margin-top: 30px;
  }
  .amount .enterAmount{
      display: flex;
      flex-direction: column;
  
  }
  .amount .enterAmount input{
      border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  outline-color: #007AFF;
  width: 300px;
  height: 45px;
  padding: 10px;
  }
  .amount .enterAmount button{
      background: #2FA84F;
  border-radius: 10px;
  width: 300px;
  height: 45px;
  border: 0;
  }
  .amount .enterAmount >*{
      margin: 5px ;
  }
  .modal-footer {
      text-align:left;
  }
  .closebtn{
      text-align: right;
  }
  .closebtn button{
      margin: 10px;
      background-color: #fff;
      color: #373737;
      font-weight: 600;
      font-size: 16px;
      border: 0;
  }
  
  
  .form-container-align-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: stretch; */
  }
  
  .right-padding{
    padding-right: 20px;
    padding-bottom: 30px;
  }
  
  .left-padding{
    padding-right: 20px;
    padding-bottom: 30px;
  }
  