<main>
    <ng-template [ngIf]="page == 'home'">
        <div class="section1" @fade>
            <p>Let's <span id="important">Partner</span>,<br> It takes both <br> sides to build a <br><span
                    id="important">bridge.</span></p>
            <div class="buttons">
                <button class="btn btn-outline-primary" (click)="accountType()">Sign up to be a partner</button>
                <button class="btn btn-primary" (click)="signInEmail()">Back? Sign in</button>
            </div>
        </div>
    </ng-template>

    <!-- Select Account Type -->
    <ng-template [ngIf]="page == 'accountType'">
        <div class="signin" @fade>
            <div class="container">
                <span id="backP" (click)="backToHome()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="frame">
                    <h1>Create account</h1>
                    <p>Already have an account ? <span (click)="signInEmail()">Sign in</span></p>
                    <p>Choose the type of account you want to create.</p>
                    <div class="type">
                        <div class="bus" (click)="bizAccount()">
                            <span class="back"><img src="/assets/images/Brief Case.png"
                                    alt=""></span><span>Business</span>
                        </div>
                        <div class="ind" (click)="indAccount()">
                            <span class="back"><img src="/assets/images/personal.png"
                                    alt=""></span><span>Individual</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- create individual account -->
    <ng-template [ngIf]="page=='indAccount'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToAccountType()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="individual">
                    <h1>Create account</h1>
                    <p>Fill the form to create your individual account</p>
                    <form [formGroup]="individualRegistrationForm" class="row g-3">
                        <div class="col-md-6">
                            <label for="first" class="form-label">First name</label>
                            <input type="text" formControlName="firstname" class="form-control" id="firstname">
                        </div>
                        <div class="col-md-6">
                            <label for="last" class="form-label">Last name</label>
                            <input type="text" formControlName="lastname" class="form-control" id="lastname">
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" formControlName="email" class="form-control" id="email" email>
                        </div>
                        <div class="col-12">
                            <label for="dateofbirth" class="form-label">Date of birth</label>
                            <input type="date" formControlName="dateofbirth" class="form-control" id="dateofbirth" max="2004-12-31">
                        </div>
                        <div class="col-12">
                            <label for="phone" class="form-label">Phone number</label>
                            <input placeholder="+234..."  formControlName="phone" class="form-control" id="phone">
                        </div>
                        <div class="col-ms-12">
                            <b>Gender</b>
                        </div>
                        <!-- <div class="col-12"> -->
                        <div class="form-check col-md-3 ">
                            <input class="form-check-input active" type="radio" formControlName="gender" id="male"
                                value="M">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="radio" formControlName="gender" id="female" value="F">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>

                        <!-- </div> -->
                        <div class="col-12 d-grid">
                            <button type="buton" class="btn btn-primary" [disabled]="!individualRegistrationForm.valid" (click)="getPersonalForm()">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="page == 'getPersonalAdd'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToPersonalForm()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="individualAddress">
                    <h1>Create account</h1>
                    <p>Please, let's know your location</p>
                    <form class="row g-3" [formGroup]="individualRegistrationForm_Location">
                        <div class="col-md-6">
                            <label for="inputState" class="form-label">State</label>
                            <select id="state" formControlName="state" #stateSelected class="form-select" (change)="fetchLGAs(stateSelected.value)">
                                <option *ngFor="let st of states" [value]="st.stateId">{{st.stateName}}</option>
                            </select>

                        </div>
                        <div class="col-md-6">
                            <label for="address" class="form-label">Lga</label>
                            <select id="lga" formControlName="lga" class="form-select" >
                                <option *ngFor="let lg of lgas" [value]="lg.lgaId">{{lg.lgaName}}</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" formControlName="address" class="form-control" id="address"  >

                        </div>
                        <div class="col-12 d-grid">
                            <button type="button" class="btn btn-primary" (click)="getPersonalAdd()" [disabled]="!individualRegistrationForm_Location.valid">Next</button>
                            <button type="button" class="btn btn-default" (click)="indAccount()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="page == 'getPersonalPassword'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToPersonalAdd()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="individualPassword">
                    <h1>
                        Password
                    </h1>
                    <p>Set your password</p>
                    <form class="row g-3" [formGroup]="individualRegistrationForm_Credential" (ngSubmit)="onSubmitIndividualAccoutCreation()">
                        <div class="col-12">
                            <label for="pass" class="form-label">Password</label>
                            <input type="password" #pass formControlName="password1" class="form-control" id="pass"
                                  [pattern]="passwordPtn"
                                minlength="8">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="cpass" class="form-label">Confirm password</label>
                            <input type="password" formControlName="password1" #pass2 class="form-control" id="cpass" >
                            <br>
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" [disabled]="pass.value != pass2.value || !individualRegistrationForm_Credential.valid" class="btn btn-primary">Register</button>
                            <button type="button" class="btn btn-default" (click)="backToPersonalAdd()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
          <p style="color: white">Please Wait. </p>
          </ngx-spinner>
    </ng-template>

    <!-- create Business account -->
    <ng-template [ngIf]="page == 'bizAccount'">
        <div class="contain" @fade>
            <div class="contain2 ">
                <span id="backP" (click)="backToAccountType()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="bussiness">
                    <h1>Create account</h1>
                    <p>Fill form to create your Business account</p>
                    <form class="row g-3" [formGroup]="businessRegistrationForm">
                        <div class="col-12">
                            <label for="company" class="form-label">Company name</label>
                            <input type="text" class="form-control" formControlName="company" id="company">

                        </div>
                        <div class="col-12" data-dropup-auto="false">
                            <label for="type" class="form-label">Business type</label>
                            <select class="form-select" formControlName="biztype" id="type">
                             <option *ngFor="let bt of businessTypes" [value]="bt.name">{{bt.name}}</option>

                            </select>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" formControlName="email" id="email" email>

                        </div>

                        <div class="col-12">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="tel" formControlName="phone" class="form-control"  id="phone">

                        </div>

                        <div class="col-12 d-grid">
                          <button [disabled]="!businessRegistrationForm.valid" type="submit" (click)="getCompanyAdrress()" class="btn btn-primary">Next</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="page == 'bizAddress'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToCompanyDetail()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="businessAddress">
                    <h1>Create account</h1>
                    <p>Please, let's know your Business location</p>
                    <form class="row g-3" [formGroup]="businessRegistrationForm_Location">
                        <div class="col-md-6">
                            <label for="inputState" class="form-label">State</label>
                            <select id="state" #stateSelected class="form-select" (change)="fetchLGAs(stateSelected.value)" formControlName="state">
                                <option *ngFor="let st of states" [value]="st.stateId">{{st.stateName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="inputLga" class="form-label">Lga</label>
                            <select id="lga" class="form-select" formControlName="lga">
                                <option *ngFor="let lg of lgas" [value]="lg.lgaId">{{lg.lgaName}}</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="address" class="form-control" id="address" formControlName="address">
                        </div>
                        <div class="col-12 d-grid">
                            <button [disabled]="!businessRegistrationForm_Location.valid" type="submit" (click)="getContactPerson()"
                                class="btn btn-primary">Next</button>
                                <button type="submit"
                                class="btn btn-default" (click)="backToCompanyDetail()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="page == 'bizContactPaerson'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToBusinessAddress()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="businessContact">
                    <h1>Create account</h1>
                    <p id="ctp">Fill the form to create the bussiness <b> contact person </b></p>
                    <form class="row g-3" [formGroup]="businessRegistrationForm_ContactPerson">
                        <div class="col-md-6">
                            <label for="first" class="form-label">First name</label>
                            <input type="text" class="form-control" formControlName="firstname" id="first">

                        </div>
                        <div class="col-md-6">
                            <label for="last" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="last" formControlName="lastname">

                        </div>
                        <div class="col-12">
                            <label for="date" class="form-label">Date of birth</label>
                            <input type="date" class="form-control" id="dob" formControlName="dob">

                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Phone number</label>
                            <input type="tel" class="form-control" id="phone" formControlName="phone" >

                        </div>
                        <div class="col-12">
                            <b>Gender</b>
                        </div>
                        <!-- <div class="col-md-10" id="gend" > -->
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="radio" formControlName="gender" id="male" value="M">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check disabled col-md-6">
                            <input class="form-check-input" type="radio" formControlName="gender" id="female" value="F">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                        <div class="col-12 d-grid">
                            <button [disabled]="!businessRegistrationForm_ContactPerson.valid" type="submit" (click)="getBusinessPassword()"
                                class="btn btn-primary">Next</button>
                              <button type="submit" class="btn btn-default" (click)="backToBusinessAddress()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="page == 'bizPassword'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToContactPerson()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="businessPassword">
                    <h1>Password</h1>
                    <p>Set your Password</p>
                    <form class="row g-3" [formGroup]="businessRegistrationForm_Credential">
                        <div class="col-12">
                            <label for="pass" class="form-label">Password</label>
                            <input type="password" #bpass1 class="form-control" id="pass" formControlName="password1"
                                  [pattern]="passwordPtn"
                                 minlength="8">
                            <br>
                        </div>
                        <div class="col-12">
                            <label for="cpass" class="form-label">Confirm password</label>
                            <input type="password" #bpass2 class="form-control" id="cpass" formControlName="password2" >
                        </div>
                        <br>
                        <div class="col-12 d-grid">
                            <button [disabled]="!businessRegistrationForm_Credential.valid || bpass1.value != bpass2.value" type="submit"
                              (click)="onSubmitBusinessAccoutCreation()"  class="btn btn-primary">Register</button>
                             <button type="submit"
                                class="btn btn-default" (click)="backToContactPerson()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
          <p style="color: white">Please Wait. </p>
          </ngx-spinner>
    </ng-template>

    <!-- .......OTP........ -->

    <ng-template [ngIf]="page == 'otp'">
        <div class="contain" @fade>
            <div class="contain2">
                <div class="otpCode">
                    <h1>Check your Email</h1>
                    <p>We've sent a secure code to your email</p>
                    <p>Type in the secure code to verify your account</p>
                    <!-- <small style="color:red ;" >{{responseOtp}}</small> -->
                    <img src="/assets/images/undraw_Mail_sent_re_0ofv 1.png" alt="">
                    <div>
                        <form class="otp" [formGroup]="otpForm">
                            <input #txt1 maxlength="1" formControlName="txt1" (keyup)="move($event,'',txt1,txt2)" type="text" id="txt1">
                            <span>-</span>
                            <input #txt2 maxlength="1" formControlName="txt2" type="text" (keyup)="move($event,txt1,txt2,txt3)" id="txt2">
                            <span>-</span>
                            <input #txt3 maxlength="1" formControlName="txt3" type="text" (keyup)="move($event,txt2,txt3,txt4)" id="txt3">
                            <span>-</span>
                            <input #txt4 maxlength="1" formControlName="txt4" type="text" (keyup)="move($event,txt3,txt4,txt5)" id="txt4">
                            <span>-</span>
                            <input #txt5 maxlength="1" formControlName="txt5" type="text" (keyup)="move($event,txt4,txt5,txt6)" id="txt5">
                            <span>-</span>
                            <input #txt6 maxlength="1" formControlName="txt6" type="text" (keyup)="move($event,txt5,txt6,'')" id="txt6">
                        </form>
                    </div>
                    <!-- <button class="btn btn-primary" (click)="getOtp(otpForm.value)">Proceed</button> -->
                    <button class="btn btn-primary" (click)="onSubmitVerifyCode()">Proceed</button>
                    <button class="btn btn-outline-primary" id="resend">Resend Email</button>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
          <p style="color: white">Please Wait. </p>
          </ngx-spinner>
    </ng-template>

    <!-- Sign in -->

    <ng-template [ngIf]="page == 'signInEmail'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backToHome()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="login">
                    <h1>Sign in</h1>
                    <form [formGroup]="signInForm">
                    <p>Register as a partner</p>
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" formControlName="email" id="email">
                    <button class="btn btn-primary" (click)="signInPassword()">Continue</button>
                  </form>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="page == 'signInPassword'">
        <div class="contain" @fade>
            <div class="contain2">
                <span id="backP" (click)="backTosignInEmail()">
                    <mat-icon>arrow_back_ios</mat-icon>Back
                </span>
                <div class="loginPassword">
                    <h1>Enter your password</h1>
                    <form [formGroup]="signInFormPassword" (ngSubmit)="onSubmitLogin()">
                    <div class="info">
                        <img src="/assets/images/ios-14-default-wallpapers-1.jpg" alt="">
                        <p><span>Business account</span> <span>Example@gmail.com</span></p>
                    </div>
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" formControlName="password" id="password">
                    <button type="button" class="btn btn-primary">Continue</button>
                    <p>Forgot your password? <a href="">Reset</a></p>
                    <p><a href=""> Sign in to a different account </a></p>
                  </form>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
          <p style="color: white">Please Wait. </p>
          </ngx-spinner>
    </ng-template>


    <div class="section2">
        <div class="inner">
            <img src="/assets/images/Back to back-pana 1 (1).png" alt="">
        </div>
    </div>
</main>
